.four {
    text-decoration: none;
}
.one .two .three {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

.one .two .three .five {
    position: absolute;
    width: 24%;
    height: 50%;
    background-color: var(--c);
    transform: translateY(410%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 1s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.one .two .three {
    background-color: black;
}

.one .two .three:hover {
    color: black;
}

.one .two .three:hover .five {
    transform: translateX(0) scale(8);
}

nav ul li span:nth-child(1) {
    --n: 1;
}
